@media print {
  @page {
    size: 19.5cm 27.5cm !important;
  }

  @page :left {
    margin: 0 !important;
    padding: 0 !important;
  }

  @page :right {
    margin: 0 !important;
    padding: 0 !important;
  }


  body{
    outline: none;
  }

  *{
   page-break-after: avoid;
  }

}

body{
  position: absolute;
  width: 18cm;
  height: 27cm;
	background: white;
  margin: 0;
  padding: 0;
  margin: 3mm;
  overflow: hidden;
}
